#gamesboard-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.game-board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 20px;
  height: 20px;
}

.option-container {
    width: 500px;
    height: 70px;
    margin: 30px 0;
    background-color: burlywood;
    display: flex;
    align-items: center;
  
  }
  
  .destroyer {
    background-color: purple;
  }
  
  .destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
  }
  
  .submarine {
    background-color: yellow;
  }
  
  .submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
  }
  
  .cruiser {
    background-color: blue;
  }
  
  .cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
  }
  
  .battleship {
    background-color: green;
  }
  
  .battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
  }
  
  .carrier {
    background-color: black;
  }
  
  .carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
  }